@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hind";
  src: url("/font/Hind-Regular.ttf");
}

html {
  font-family: "Hind";
}

@layer components {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
